<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-tag-heading" jhiTranslate="zipVidzApp.tag.home.createOrEditLabel">Create or edit a Tag</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!tag.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="tag.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zipVidzApp.tag.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="tag.name" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zipVidzApp.tag.profile" for="field_profile">Profile</label>
                    <select class="form-control" id="field_profile" name="profile" [(ngModel)]="tag.profile" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileOption.id === tag.profile?.id ? tag.profile : profileOption" *ngFor="let profileOption of profiles; trackBy: trackProfileById">{{profileOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zipVidzApp.tag.video" for="field_video">Video</label>
                    <select class="form-control" id="field_video" name="video" [(ngModel)]="tag.video" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="videoOption.id === tag.video?.id ? tag.video : videoOption" *ngFor="let videoOption of videos; trackBy: trackVideoById">{{videoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
