<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-video-heading" jhiTranslate="zipVidzApp.video.home.createOrEditLabel">Create or edit a Video</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!video.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="video.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zipVidzApp.video.videoName" for="field_videoName">Video Name</label>
                    <input type="text" class="form-control" name="videoName" id="field_videoName"
                        [(ngModel)]="video.videoName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zipVidzApp.video.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                        [(ngModel)]="video.url" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zipVidzApp.video.imageURL" for="field_imageURL">Image URL</label>
                    <input type="text" class="form-control" name="imageURL" id="field_imageURL"
                        [(ngModel)]="video.imageURL" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zipVidzApp.video.avgRating" for="field_avgRating">Avg Rating</label>
                    <input type="number" class="form-control" name="avgRating" id="field_avgRating"
                        [(ngModel)]="video.avgRating" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="zipVidzApp.video.genres" for="field_genres">Genres</label>
                    <select class="form-control" id="field_genres" multiple name="genres" [(ngModel)]="video.genres">
                        <option [ngValue]="getSelected(video.genres, genreOption)" *ngFor="let genreOption of genres; trackBy: trackGenreById">{{genreOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zipVidzApp.video.recommendedVideos" for="field_recommendedVideos">Recommended Videos</label>
                    <select class="form-control" id="field_recommendedVideos" name="recommendedVideos" [(ngModel)]="video.recommendedVideos" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="recommendedVideosOption.id === video.recommendedVideos?.id ? video.recommendedVideos : recommendedVideosOption" *ngFor="let recommendedVideosOption of recommendedvideos; trackBy: trackRecommendedVideosById">{{recommendedVideosOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zipVidzApp.video.search" for="field_search">Search</label>
                    <select class="form-control" id="field_search" name="search" [(ngModel)]="video.search" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="searchOption.id === video.search?.id ? video.search : searchOption" *ngFor="let searchOption of searches; trackBy: trackSearchById">{{searchOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zipVidzApp.video.searchResult" for="field_searchResult">Search Result</label>
                    <select class="form-control" id="field_searchResult" name="searchResult" [(ngModel)]="video.searchResult" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="searchResultOption.id === video.searchResult?.id ? video.searchResult : searchResultOption" *ngFor="let searchResultOption of searchresults; trackBy: trackSearchResultById">{{searchResultOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
